In [1]:
import numpy as np
import pandas as pd

# scrape website and preprocessing

In [2]:
#this makes a list of objects on the website
table=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', 
                 match='.+', 
                 flavor=None, 
                 header=None, 
                 index_col=None, 
                 skiprows=None, 
                 attrs=None, 
                 parse_dates=False, 
                 tupleize_cols=None, 
                 thousands=', ', 
                 encoding=None, 
                 decimal='.', 
                 converters=None, 
                 na_values=None, 
                 keep_default_na=True, 
                 displayed_only=True)

In [3]:
#this takes the first object, which is the table that we want and turns it into a dataframe
df=pd.DataFrame(table[0])
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [33]:
# Delete rows that have Borough value of "Not assigned"
df=df[df.Borough != 'Not assigned']
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [35]:
# combine multiple neighborhoods in a single post code
df2=df.groupby('Postcode').agg({'Borough':'first','Neighbourhood': ', '.join})
df2.head()

              Borough                           Neighbourhood
Postcode
M1B       Scarborough                          Rouge, Malvern
M1C       Scarborough  Highland Creek, Rouge Hill, Port Union
M1E       Scarborough       Guildwood, Morningside, West Hill
M1G       Scarborough                                  Woburn
M1H       Scarborough                               Cedarbrae

In [36]:
# if neighbourhood not assigned then neighbourhood = borough
df3=df2
df3.loc[df3['Neighbourhood'] == 'Not assigned', 'Neighbourhood']='Borough'
df3.head()

              Borough                           Neighbourhood
Postcode
M1B       Scarborough                          Rouge, Malvern
M1C       Scarborough  Highland Creek, Rouge Hill, Port Union
M1E       Scarborough       Guildwood, Morningside, West Hill
M1G       Scarborough                                  Woburn
M1H       Scarborough                               Cedarbrae

In [37]:
# making sure that last step worked to replace all the Not Assigned neighbourhoods
df3.isin(['Not assigned']).any()

Borough          False
Neighbourhood    False
dtype: bool

In [40]:
df3.shape

(103, 2)